@import url('https://fonts.googleapis.com/css?family=Lato%7CRaleway:400,600');
/* ----------------------------------------
Base Styles
------------------------------------------- */
/* Note: Makes sure that padding and the border are included in the width for each element. */
/* Don't add anything else under the * selector! */

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/* ----------------------------------------
Universal Typography
------------------------------------------- */
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #44545E;
	text-align: center;
	text-transform: uppercase;
}
h1 {
	font-size: 37px;
}
h2 {
	font-size: 23px;
}
h3 {
	font-size: 18px;
}
a {
	text-decoration: none;
	color: #7B98AA;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Lato', serif;
	text-transform: none;
	font-weight: 400;
	padding: 15px;
	font-size: 15px;
}

/* ----------------------------------------
Layout
------------------------------------------- */

/* -----------
FROM THE ARCHIVE Layout
-----------*/
div.article-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}
section.archive {
	padding: 80px 15px;
}
section.archive h2 {
	padding-bottom: 20px;
}
/* -----------
ABOUT Layout
-----------*/
section.about {
	background-color: #CDF3F6;
	padding: 70px;
}
section.about p {
		max-width: 600px;
		margin: auto;
}

/* ------------
Issue Twenty Layout
-----------------*/
section.issue_twenty {
	padding: 75px;
}
div.gallery-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
}

div.gallery-grid img {
	padding: 5px;
}

section.issue_twenty h3{
		padding: 30px;
}
/* ----------------------------------------
Header
------------------------------------------- */
nav a {
	display: inline-block;
	padding: 15px 50px;
}
header {
	background-image: url("../images/home_header_bg.jpg");
	background-size: cover;
	padding: 250px;
	color: white;
}
header h1 a{
	color: white;
	font-size: 37px;
	letter-spacing: 10px;
}
header h2 {
	letter-spacing: 1px;
}

/* ----------------------------------------
Buttons
------------------------------------------- */
article a {
	border: 1px;
	padding: 10px 30px;
	border: 2px solid black;
	font-size: 13px;
	color: #44545E;
	letter-spacing: 1px;
}

footer button {
	padding: 5px 20px;
	text-align: center;
	text-transform: uppercase;
	background-color: #CDF3F6;
	border: 1px solid black;
	color: #44545E;
	font-weight: 600;
	font-size: 10px;
	margin-left: 20px;
}
a:hover {
	color: #44545E;
	-webkit-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}


/* ----------------------------------------
Footer
------------------------------------------- */
footer {
	background-color: #CDF3F6;
}

.social-links a {
	font-size: 20px;
	padding: 10px;
	display: inline-block;
	color: #44545E;
	margin-top: 30px;
	margin-bottom: 15px;
}

hr {
	border: 1px solid black;
}

footer input {
	padding: 5px 30px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 10px;
	border: 1px solid white;
}

.contact {
	margin-bottom: 40px;
}
