
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Heebo:300,500');

/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}


/*TYPOGRAPY*/

body {
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  top: 0;
}

h1 {
  font-family: 'Righteous', 'Arial', serif;
  font-size: 60px;
  font-weight: normal;
  color: white;
  padding-left: 40px;
  letter-spacing: 1px;
  line-height: 10px;
  margin-top: 0;
}

h2 {
  font-family: 'Heebo', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 24px;
  margin-top: 0;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

h4 {
  font-family: 'Heebo', sans-serif;
  color: #bf0451;
  font-size: 30px;
  text-transform: uppercase;
}

p {
  color: #1e1d33;
}

/*HEADER STYLING*/

header {
  background-size: cover;
  height: 90vh;
}

header h1 {
  padding-top: 150px;
}

.intro h1, h2 {
  padding-left: 100px;
  transition: padding .5s ease-in-out;
}

.intro a {
  background-color: #1e1d33;
  color: white;
  margin-left: 100px;
}

.intro a:hover {
  background-color: white;
  color: #1e1d33;
  font-weight: 500;
}

/*NAVIGATION STYLING*/

nav {
	width: 100%;
  position: fixed;
  z-index: 1;
  padding: 0;
  top: 0;
  text-align: right;
}

a {
  text-decoration: none;
  border: 1px;
	padding: 10px 25px;
	border: 1px solid white;
  color: white;
	font-size: 10px;
	letter-spacing: 1px;
  display: inline-block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  text-transform: uppercase;
}

nav a {
  margin: 10px 30px;
}

a:hover {
  background-color: #1e1d33;
  color: white;
}

.navactive {
  background-color: white;
}

.navactive a {
  border: 1px solid #bf0451;
  color: #bf0451;
}

.navactive a:hover {
  border: 1px solid #bf0451;
  color: white;
}



/*CALLOUT SECTIONS*/

.quote {
  background: #1e1d33;
  color: white;
  padding: 200px 50px;
  text-align: center;
}

.quote i {
  font-size: 70px;
  padding-bottom: 20px;
  color: white;
}

.quote p {
  color: white;
}

.quote a:hover {
  background: white;
  color: #1e1d33;
}
/*ABOUT SECTION LAYOUT*/

.aboutsection1 {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 20px;
}

.aboutsection {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 20px;
  max-height: 900px;
}

.aboutp1 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 100px;
}

.threecolumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

/*FOOTER*/

footer {
  text-align: center;
  color: white;
  background-color: #bf0451;
  padding: 5px;
}


/* ----------------------------------------
Form
------------------------------------------- */
form {
	margin: 30px auto;
	max-width: 700px;
	padding: 20px;
	border-radius: 3px;
}

input,
textarea {
	border: 2px solid #dfdfdf;
	padding: 10px 15px;
	border-radius: 2px;
	display: block;
	width: 100%;
	margin-bottom: 8px;
	font-size: 16px;
	outline: none;
	transition: border .3s ease;
}

textarea {
	height: 250px;
}

input:focus,
textarea:focus {
	border: 2px solid #005EC8;
}

button {
	background-color: #bf0451;
	border: solid 1px white;
	color: white;
	font-size: 18px;
	display: block;
	outline: 0;
	padding: 8px 10px;
	width: 100%;
	margin-top: 20px;
	transition: all .3s ease;
}

button:hover {
	background-color: #1e1d33;
}

.error {
	border: 2px solid red;
}

form p {
  color: red;
}


/* ----------------------------------
RESPONSIVE STYLES
-------------------------------------*/
.hamburger {
    display: none;
}

@media only screen and (max-width: 700px) {
  nav {
      max-height: 0;
      overflow: hidden;
      background-color: white;
      transition: all .5s ease-in-out;
  }

  nav a {
      display: block;
      color: #1e1d33;
  }

  .hamburger {
    display: block;
    border: none;
    font-size: 30px;
    background-color: #bf0451;
  }

  .hamburger:hover {
    background: #bf0451;
  }

  /* Styles to apply with JS to slide the menu out or down */
  .menu-open {
    max-height: 500px;
    position: relative;
  }

  .intro h1, h2 {
    padding-left: 40px;
  }

  .intro a {
    margin-left: 40px;
  }
    h1 {
      line-height: 30px;
      font-size: 30px;
    }

    h2 {
      font-size: 20px;
      padding-right: 5px;
    }
    h3, h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    .aboutsection1, .aboutsection {
      display: grid;
      grid-template-columns: 1fr;
    }

    .aboutsection1 img {
      position: absolute;
    }

    .aboutp1 {
      padding: 50px;
      padding-right: 65px;
    }

    .threecolumn {
      display: grid;
      grid-template-columns: 1fr;
    }

    .threecolumn i {
      padding-top: 50px;
    }
}
